<%= render "nav" %>

<div class="add-new-container">

  <h4>ADD A NEW CATEGORY</h4>

  <%= form_with url: groups_path, method: :post, local: true, scope: :add_group do |form| %>
      <div>
        <%= form.text_field :name, placeholder: "Name" %>
      </div>

      <div>
        <%= form.select :icon, @icons.map { |i| [i.to_s, i.to_s] }, {}%>
      </div>

      <%= form.submit 'CREATE CATEGORY', :class => 'submitBtn' %>
  <% end %>
</div>